mat-form-field {
    margin-top: 20px;
}

.signerInfoGroup {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.documentInfoGroup {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.add-signer .remove-signer {
    cursor: pointer;
}

.new-document-form {
    margin: 0 auto;
    width: 80%;
    padding-top: 16px;
}