<div class="container">
    <span>Seus documentos</span>
    <ng-container *ngFor="let document of documents">
        <mat-card appearance="outlined">
            <mat-card-header>
                <div class="header">
                    <div class="card-title">{{ document.name }} - {{document.company.name}} <mat-icon>{{ document.status === 'SIGNED' ? 'check' : 'hourglass_top' }}</mat-icon></div>
                        
                    <div class="actions">
                        <mat-card-subtitle (click)="areYouSure(document.id)"><mat-icon class="pointer">delete</mat-icon></mat-card-subtitle>
                        <mat-card-subtitle (click)="openDialog(document.id)"><mat-icon class="pointer">edit</mat-icon></mat-card-subtitle>
                    </div>
                </div>
            </mat-card-header>
            <mat-divider class="divider-card"/>
            <mat-card-content>
                <mat-chip-set aria-label="Assinantes">
                    <mat-chip *ngFor="let signer of document.signers">
                        <div class="chip">
                            {{ signer.name }}
                            <mat-icon>{{ signer.status === 'SIGNED' ? 'check' : 'hourglass_top' }}</mat-icon>
                        </div>
                    </mat-chip>
                </mat-chip-set>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>